.currentWeather {
  width: 30%;
  background-color: white;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sun {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  object-fit: cover;
}

.weatherTemp {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 4rem;
  margin-top: 20px;
}

.hr {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.2);
  height: 1px;
  box-shadow: 0px 0px 2px 0px grey;
}

.btn2 {
  background-color: #748cf1;
  color: white;
  border: none;
  border-radius: 5px;
}

.city {
  margin-top: 20px;
  color: rgb(85, 85, 85);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.current {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2rem;
  text-shadow: 0px 0px 5px rgba(128, 128, 128, 0.5);
  text-align: center;
}
